/* breadcrumbs */
.breadcrumbs {
  font-size: 10px;
  text-transform: uppercase;

  .aqui {
    float: left;
    margin-right: .5em;
  }
}

/* breadcrumb */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  
  > li + li:before {
    content: ">"
  }
}

/* título */
.titulo {
  background-color: #eeeff1;
  border-top: 4px solid #006699;
  color: #006699;
  font-size: 20px;
  margin-top: 0;
  min-height: 60px;
  padding: 5px 10px 10px;
}

/* subtitulo da página*/
.subtitulo {
  border-bottom: 1px solid #c9c9c9;
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 5px 0;
}

/* listas */
ul, ol {
  padding-left: 2em;
}

/* input */
.form-control {
  border-radius: 0;
}

/* button */
.btn {
  &:not(.btn-link) {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-primary {
    background-color: #434A54;
    border-color: #434A54;

    &.focus,
    &:focus,
    &:hover {
      background-color: darken(#434A54, 10);
      border-color: darken(#434A54, 10);
    }

    &.active,
    &:active {
      &,
      &.focus,
      &:focus,
      &:hover {
        background-color: darken(#434A54, 10);
        border-color: darken(#434A54, 10);
      }
    }
  }
}

/* formulário inline */
.form-inline {
  font-size: 0;

  p {
    font-size: 14px;
    line-height: 1.42857;
  }

  label {
    background-color: #D7D7D7;
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    margin: 0;
    padding: 7px 20px;
    vertical-align: middle;
  }

  .control-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

/* caixa de filtragem */
.panel-default {
  background-color: #F2F2F2;

  .panel-heading {
    background-color: transparent;
  }

  .panel-footer {
    background-color: #D7D7D7;
  }
}

/* tabela */
.table {
  thead {
    th {
      background-color: #434A54;
      border: 1px solid #BCBCBC;
      color: #fff;
      text-align: center;
    }

  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #fff;
    }

    &:nth-child(even) {
      background-color: #F2F2F2;
    }

    td {
      border: 1px solid #BCBCBC;
      vertical-align: middle;

      .btn-link {
        padding: 0;
      }
    }
  }
}

/* paginação */
.pagination {
  .first, .last {
    border: 0;
  }

  > li > a {
    border-radius: 4px;
    margin-left: 10px;
    padding: 2px 8px;
  }
}

/* popover */
.popover {
  background-color: #434A54;
  color: #fff;

  &.bottom {
    .arrow::after {
      border-bottom-color: #434A54;
    }
  }

  &.left {
    .arrow::after {
      border-left-color: #434A54;
    }
  }

  &.right {
    .arrow::after {
      border-right-color: #434A54;
    }
  }

  &.top {
    .arrow::after {
      border-top-color: #434A54;
    }
  }
}

/* abas */
.nav-tabs {
  border-color: #D4D5D7;
  
  > li {
    > a {
      background-color: #D7D7D7;
      color: #333;
      margin-right: 5px;
      min-width: 150px;
      padding-bottom: 6px;
      padding-top: 6px;
      text-align: center;
    }
    
    &.active {
      > a {
        &,
        &:focus,
        &:hover {
          background-color: #EEEFF1;
          border-color: #D4D5D7;
        }
      }
    }    
  }
}

.tab-content {
  background-color: #EEEFF1;
  border-bottom: 1px solid #D4D5D7;
  border-left: 1px solid #D4D5D7;
  border-right: 1px solid #D4D5D7;
  margin-bottom: 20px;
  padding: 15px;
}

/* topo */
header {
  background: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
  color: #fff;
  
  ul {
    font-size: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
  }
  
  a {
    &, &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
  
  nav {
    background-color: #00420c;
    margin-bottom: 20px;
    padding: 5px 15px;
    text-align: right;
    
    li {
      border-right: 1px solid #6c9072;
      padding: 0 10px;
      
      &:last-child {
        border: 0;
        padding-right: 0;
      }
    }
    
    a {
      font-size: 12px;
    }
  }
  
  .listas {
    margin: 10px 0;
  }
  
  .lista {
    &-accesskeys {
      li {
        padding-left: 10px;

        &:first-child {
          padding-left: 0;
        }
        
        span {
          background-color: #9ED5AB;
          color: #006600;
          padding: 0 3px;
          vertical-align: middle;
        }
      }
      
      a {
        font-size: 10px;
      }
    }
    
    &-actions {
      border-bottom: 1px dotted #9bc2a3;
      
      li {
        padding-right: 20px;
        &:last-child {
          padding-right: 0;
        }
      }

      a {
        font-size: 11px;
        text-transform: uppercase;
      }
      
      @media (max-width: 480px) {
        float: none !important;
        text-align: center;
      }
    }
  }
  
  .logo {
    padding: 10px 0 20px;

    h1 {
      background: transparent;
      border: 0;
      color: #fff;
      margin: 0;
      min-height: 0;
      padding: 0;
    }

    .orgao {
      font-size: 12px;
    }
    
    .nome {
      font-size: 40px;
    }
  }
}

/* footer */
footer {
  .footer {
    background-color: #034811;
    color: #fff;
    padding: 10px 0;

    .subordinacao {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}

/* contraste */
.contraste {
  background-color: #000;
  color: #fff;

  a {
    color: #ff0;
  }

  header {
    background: transparent;

    nav {
      background-color: #333;
    }
  }
  
  footer {
    .footer {
      background-color: #333;
    }
  }

  .titulo {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }

  .subtitulo {
    border-color: #fff;
    color: #fff;
  }

  .table {
    thead tr {
      th {
        background-color: #333;
        color: #fff;
      }

      &:first-child {
        th {
          border-top: 1px solid #fff;
        }
      }
    }

    tbody tr {
      &:nth-child(odd), &:nth-child(even) {
        background-color: transparent;
      }
    }
  }

  .btn {
    &-link {
      color: #ff0;
    }
  }

  .form-inline {
    label {
      background-color: #333;
    }
  }

  .panel {
    background-color: transparent;

    &-heading {
      color: #fff;
    }

    &-footer {
      background-color: transparent;
    }
  }

  .nav-tabs {
    > li {
      > a {
        background-color: #333;
        color: #ff0;
      }

      &.active {
        > a {
          &,
          &:focus,
          &:hover {
            background-color: transparent;
            color: #ff0;
          }
        }
      }
    }
  }

  .tab-content {
    background-color: transparent;
  }
}
